.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  background-color: white;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  display: block;
  font: inherit;
  outline: none;
  padding: 6px 10px;
  width: 100%;
}

.InputElement:focus {
  outline: none;
  background-color: #cccccc;
}

.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}

.ValidationError {
  color: red;
  margin: 5px 0;
}
